@media only screen and (min-width: 768px) {
    .navbar-brand{
        position: absolute;
        margin-left: 45.5%;
    }
}
@media only screen and (max-width: 768px) {
    .nav-item.text-right{
        text-align: left! important;
    }
}

.showed{
    border: dashed 1px red;
}

.shows{
    border: dashed 1px blue;
}
.shower{
    border: dashed 1px #234567;
}
img{
    overflow: hidden;
}


section.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 10px;
    width: 200px;
    outline: none;
    height: 1px;
    margin: 0;
    padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

/* section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

  section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
} */



input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #000;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid 000;
  height: 14px;
  width: 14px;
  border-radius: 25px;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #666;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #000;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #000;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #000;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #000;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #000;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #000;
}

input[type=range]:focus::-ms-fill-upper {
  background: #000;
}


.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    height: 200px;
    overflow: auto;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #000
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none! important ;
    border-radius: .25rem;
}


.scroll::-webkit-scrollbar {
    width: 2px;
}
 
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(00, 00, 00, 0.5);
}
 
.scroll::-webkit-scrollbar-thumb {
  background-color: #000;
  outline: 1px solid slategrey;
}



.card-header {
    padding: .10rem 1.25rem!;
}

.page-link {
    color: #000! important;
}

.page-item:last-child .page-link{
    border: none! important;
    border-left: 1px solid#ddd! important;
}

.page-item:first-child .page-link{
    border: none! important;
    border-right: 1px solid#ddd! important;
}

.bordered{
    border-top: solid 1px #333;
}

.subscribe{
    border: none! important;
    border-bottom: 1px solid #aaa! important;
}

.black{
    color:#000
}

.scroll{
    height: 120px;
    overflow: auto;
}
.side-pane{
    padding-left: 1px! important;
}

a{
    color:#000! important;
}